version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: tms_mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: Admin@528
      MYSQL_DATABASE: TMSDb
      MYSQL_USER: Admin
      MYSQL_PASSWORD: Admin@528
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    container_name: tms_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    depends_on:
      mysql:
        condition: service_healthy

    env_file:
      - .env.production

    ports:
      - "5000:5000"

    # ✅ NO nodemon
    # ✅ NO project volume mount
    command: node src/server.js

volumes:
  mysql_data:
